<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (ngSubmit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid">Please Entered a Valid E-Mail!</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input name="password" ngModel matInput type="password"  placeholder="password" #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid">Please Entered a valid password!</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Signup</button>
    </form>
</mat-card>